<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labyrinth</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Labyrinth</h1>
    <div id="app">
        <table>
            <tr>
                <th v-bind:colspan="boardwidth" class="start">START</th>
            </tr>
            <tr v-for="row in board">
                <td v-for="cell in row" :class="{ 
                        'border-top': cell.borderTop,
                        'border-right': cell.borderRight,
                        'border-bottom': cell.borderBottom,
                        'border-left': cell.borderLeft 
                    }">{{ cell.getSymbol() }}</td>
            </tr>
            <tr>
                <th v-bind:colspan="boardwidth" class="destination">ZIEL</th>
            </tr>
        </table>

        <button @click="onButtonNew">Neues Labyrinth</button>
        <button @click="onButtonEmpty">Labyrinth leeren</button>
        <button @click="onButtonDFS">DFS</button>
        <button @click="onButtonBFS">BFS</button>

        <p>{{ message }}</p>

        <h2>DFS</h2>
        <p>Mit DFS (Depth First Search = Tiefensuche) suche ich einen Weg vom Start zum Ziel.</p>

        <h2>BFS</h2>
        <p>Mit BFS (Breadth First Search = Breitensuche) suche ich den <em>kürzesten</em> Weg vom Start zum Ziel.</p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>

</html>